 Inicio das Animações - Vagaberta */

	@keyframes animation_fluxocaixa_card_total_danger {
	  0% {background-color: #dd4b39;}
	  50% {background-color: #ce1700;}
	  100% {background-color: #dd4b39;}
	}

	@-webkit-keyframes animation_fluxocaixa_card_total_danger {
	  0% {background-color: #dd4b39;}
	  50% {background-color: #ce1700;}
	  100% {background-color: #dd4b39;}
	}

/* Fim das Animações - Vagaberta */

/* Inicio do Estilo da Tela de Login */

		
	/* @media (max-width: 1024px){
		.login-box, .register-box {
		    margin: 25% auto;
		}
	}	

	@media (max-width: 1440px){
		.login-box, .register-box {
		    margin: 15% auto;
		}
	} */
	
	@media (max-width: 320px){
		@media (max-height: 768px){
			.login-box, .register-box {
			    margin: 48% auto;
			}	
		}
		@media (min-height: 769px) and (max-height: 990px){
			.login-box, .register-box {
			    margin: 78% auto;
			}
		}
	}
	
	@media (min-width: 321px) and (max-width: 375px){
		@media (max-height: 768px){
			.login-box, .register-box {
			    margin: 40% auto;
			}	
		}
		@media (min-height: 769px) and (max-height: 990px){
			.login-box, .register-box {
			    margin: 68% auto;
			}
		}
	}

	@media (min-width: 376px) and (max-width: 425px){
		@media (max-height: 768px){
			.login-box, .register-box {
			    margin: 32% auto;
			}	
		}
		@media (min-height: 769px) and (max-height: 990px){
			.login-box, .register-box {
			    margin: 58% auto;
			}
		}
	}

	@media (min-width: 426px) and (max-width: 768px){
		@media (max-height: 768px){
			.login-box, .register-box {
			    margin: 20% auto;
			}
		}
		@media (min-height: 769px) and (max-height: 990px){
			.login-box, .register-box {
			    margin: 35% auto;
			}
		}
	}

	@media (min-width: 769px) and (max-width: 1024px){
		@media (max-height: 768px){
			.login-box, .register-box {
			    margin: 12% auto;
			}	
		}
		@media (min-height: 769px) and (max-height: 990px){
			.login-box, .register-box {
			    margin: 26% auto;
			}	
		}
	}

	@media (min-width: 1025px) and (max-width: 1440px){
		@media (max-height: 768px){
			.login-box, .register-box {
			    margin: 10% auto;
			}	
		}
		@media (min-height: 769px) and (max-height: 990px){
			.login-box, .register-box {
			    margin: 18% auto;
			}
		}
	}

/* Fim do Estilo da Tela de Login */

/* Inicio do Campos de Filtros */
	
	@media screen and (max-width: 992px) {
		.filtrar,
		.remover-filtro{
			margin-top: 0px;
		}
	}
	
	@media screen and (min-width: 992px) {
		.filtrar,
		.remover-filtro{
			margin-top: 25px;
		}
	}

/* Fim do Campos de Filtros */

/* Inicio do Estilo - Vagaberta */

	.user-panel > .image > img{
		width: 100px;
		height: 100px;
	}

	.user-panel > .status{
		padding: 10px 0px;
	}

	.user-panel > .info{
		padding: 0px;
	}

	.animation_fluxocaixa_card{
	  -webkit-animation-name: animation_fluxocaixa_card_total_danger; /* Safari 4.0 - 8.0 */
	  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	  -webkit-animation-iteration-count: infinite;
	  animation-name: animation_fluxocaixa_card_total_danger;
	  animation-duration: 1s;
	  animation-iteration-count: infinite;
	}

	#nav-ul-ImagemPerfil, #menu-ImagemPerfil{
		cursor: pointer;
	}

/* Fim do Estilo - Vagaberta 